#customers {
  font-family: 'Trebuchet MS';
  border-collapse: collapse;
  width: 100%;
}

#customers td, 
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


